{% extends 'base.html.twig' %}

{% block body %}
    {#<script src="{{ asset('js/js.js') }}"></script>#}
    {#<link rel="stylesheet" href="{{ asset('css/app.css') }}" type="text/css"/>#}



    <div class="example-wrapper">


        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.user %}
            <p><a href="{{ path('fos_user_security_logout') }}">logout</a></p>
            <p><a href="{{ path('fos_user_profile_show') }}">View my profile</a></p>
            <p><a href="{{ path('fos_user_profile_edit') }}">Edit my profile</a></p>
            <p><a href="{{ path('fos_user_change_password') }}">Change password</a></p>
        {% else %}
            <p><a href="{{ path('fos_user_security_login') }}">login</a></p>
        {% endif %}
        <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
        <a href="{{ path('fos_user_registration_register') }}">register</a>




        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code>
            </li>
            <li>Your template at <code><a href="{{ 'templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code>
            </li>
        </ul>
    </div>


{% endblock %}
